# Netbeans
nbactions.xml

# IntelliJ IDEA
/.idea/
/scala/.idea
/yougi.iml
/.project
/target/

# eclipse
.classpath
.settings/
.project
*.class
*.jar

# play framework
/scala/logs/
/scala/project/project/
/scala/project/target/
/scala/target/
/scala/tmp/
/scala/dist/
/scala/.cache

# bkp files
*~

!/.gitignore
src/main/resources/rebel.xml
