# General
/java/target/

# Netbeans
nbactions.xml

# IntelliJ IDEA
/java/.idea/
/scala/.idea
/java/yougi.iml

# eclipse
.classpath
.settings/
.project
*.class
*.jar

# play framework
/scala/logs/
/scala/project/project/
/scala/project/target/
/scala/target/
/scala/tmp/
/scala/dist/
/scala/.cache

# bkp files
*~

!/.gitignore
java/src/main/resources/rebel.xml
src/main/resources/rebel.xml
